.horoscope_text {
    width: 1209px;
    height: auto;
    border-radius: 179px;
    border: 3px solid #350E86;
    box-shadow: 0px 0px 40px 5px #350E86;
    margin: 0 115px 0 115px;
    & div {
        margin: 113px 140px;
        & p {
        font-family: 'Poiret One';
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #FFFFFF;
        }
    }
}