%btn_style {
    background: #FFFFFF;
    border-radius: 65px;
    font-family: 'Poiret One';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

%text_style {
    font-family: 'Poiret One';
    font-weight: 400;
    color: #FFFFFF;
}

.horoscope_form {
    & p {
        font-size: 64px;
        line-height: 75px;
        margin: 115px 230px 90px 115px;
        @extend %text_style;
    }
    & form {
        display: grid;
        justify-items: center;
        row-gap: 36px;
        & button {
            @extend %text_style;
            width: 314px;
            height: 60px;
            background: #350E86;
            border: 3px solid #350E86;
            border-radius: 65px;
            font-size: 40px;
            line-height: 47px;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 76px;
        }
    }
}

.input2 {
    width: 560px;
    height: 72px;
    @extend %btn_style;
}

.name_input {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 18px;
}

.input1 {
    width: 320px;
    height: 72px;
    @extend %btn_style;
}