main {
    display: grid;
    justify-items: center;
    padding: 0 95px 66px 95px;
    & p {
        font-family: 'Poiret One';
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
    }
}