#star1 {
    position: absolute;
    top: 675px;
    left: 1206px;
}

#star2 {
    position: absolute;
    top: 795px;
    left: 1309px;
}

#star3 {
    position: absolute;
    top: 1008px;
    left: 183px;
}

#star4 {
    position: absolute;
    top: 1450px;
    left: 1287px;
}