* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#header {
  position: absolute;
  left: 127px;
  top: 130px;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 50px #000000;
}

#text {
  position: absolute;
  left: 228px;
  top: 368px;
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  text-shadow: 0px 0px 50px #000000;
}

.info {
  position: relative;
  background: #000;
  padding-top: 164px;
  padding-left: 182px;
  padding-right: 300px;
  padding-bottom: 215px;
  display: flex;
  align-items: center;
}
.info p {
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #FFFFFF;
  text-shadow: 0px 0px 50px #000000;
}

#arrow {
  margin-right: 140px;
}

#star1 {
  position: absolute;
  left: 1098px;
  top: 100px;
}

#star2 {
  position: absolute;
  left: 1210px;
  top: 84px;
}

#star3 {
  position: absolute;
  left: 1279px;
  top: 228px;
}

#star4 {
  position: absolute;
  left: 1220px;
  top: 683px;
}

.menu {
  position: relative;
  background: #000;
  padding-bottom: 171px;
}

.search_body {
  padding: 0 164px;
  display: grid;
  justify-items: center;
}

.buttons {
  display: grid;
  justify-items: center;
  grid-template-areas: "A A A A   B B B B   C C C C" "D D D D   D D E E   E E E E";
  -moz-column-gap: 85px;
       column-gap: 85px;
  row-gap: 58px;
}

.search_input {
  margin-bottom: 90px;
  width: 523px;
  height: 72px;
  background: #FFFFFF;
  border-radius: 65px;
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
}
.search_input:focus {
  outline: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#search_btn1 {
  grid-area: A;
}

#search_btn2 {
  grid-area: B;
}

#search_btn3 {
  grid-area: C;
}

#search_btn4 {
  grid-area: D;
  margin-left: 200px;
}

#search_btn5 {
  grid-area: E;
  margin-right: 200px;
}

.search_btn {
  width: 314px;
  height: 60px;
  border: 3px solid #350E86;
  border-radius: 65px;
  background-color: transparent;
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.search_btn:hover {
  background-color: #350E86;
}

#star5 {
  position: absolute;
  left: 117px;
  top: 312px;
}

#star6 {
  position: absolute;
  left: 224px;
  top: 346px;
}

footer {
  position: relative;
  background-color: #000000;
  padding: 49px 83px;
  box-shadow: 0px 0px 58px #350E86;
}
footer p {
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */